/* --Background Image-- */

.cloud-background {
    background: url('../images/clouds.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* --Animal Cards-- */

.text-center {
    text-align: center;
}

.card-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 150px;
    width: 150px;
    background: url('../images/cow.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    text-align: center;

}

.card-1:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 150px;
    width: 150px;
    background: url('../images/chicken.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    text-align: center;
}

.card-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}

.card-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 150px;
    width: 150px;
    background: url('../images/horse.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    text-align: center;
}

.card-3:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
}



.col-button {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}
